<div id="map"></div>
<small><a href="http://www.openstreetmap.org/?mlat=53.60115&amp;mlon=11.41833#map=19/53.60115/11.41833">Größere Karte anzeigen</a></small>

<script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js"></script>
<script type="text/javascript">
  var map = L.map('map').setView([53.601199177456614, 11.417967975139618], 17);
  var tonerUrl = "https://stamen-tiles-{S}a.ssl.fastly.net/toner-lite/{Z}/{X}/{Y}.png";

  var url = tonerUrl.replace(/({[A-Z]})/g, function(s) {
    return s.toLowerCase();
  });

  var iconHal = L.icon({
      iconUrl: '/assets/img/icon-hal.png',
      iconRetinaUrl: '/assets/img/icon-hal.png',
      iconSize: [50, 50],
      iconAnchor: [-10, 0],
      popupAnchor: [-3, -56]
  });

  L.marker([53.601199177456614, 11.417967975139618], {icon: iconHal}).addTo(map);

  var basemap = L.tileLayer(url, {
    subdomains: ['a.','b.','c.','d.'],
    minZoom: 0,
    maxZoom: 20,
    type: 'png',
    attribution: 'Map tiles by <a href="http://stamen.com">Stamen Design</a>, under <a href="http://creativecommons.org/licenses/by/3.0">CC BY 3.0</a>. Data by <a href="http://openstreetmap.org">OpenStreetMap</a>, under <a href="http://creativecommons.org/licenses/by-sa/3.0">CC BY SA</a>'
  });

  basemap.addTo(map);
</script>