<p>Das Hacklabor ist Dienstags und Freitags ab 1900 Uhr geöffnet. Zusätzliche 
Termine und Veranstaltungen werden auf <a href="https://twitter.com/hacklabor">Twitter</a>, <a href="https://facebook.com/hacklabor">Facebook</a>, in diesem 
<a href="https://calendar.google.com/calendar/ical/8nmenla7rbsnj24tqlbrl50jmc%40group.calendar.google.com/public/basic.ics">iCal</a> 
und <a href="/kontakt/#mailingliste">per Mail</a> bekannt gegeben.</p>

