---
layout: page
title: Aus dem Labor
---

<div class="row">
  <div class="col-md-8">
    {% for post in paginator.posts %}
    <article class="post">
      <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      <p class="author">
        <span class="date">{{ post.date | date: "%b %-d, %Y" }}</span>
      </p>
      <div class="content">
        {{ post.excerpt }}
      </div>
      <p><a href="{{ post.url }}">lesen</a></p>
    </article>
    {% endfor %}
  
    <!-- Pagination links -->
    <div class="pagination">
      {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">Vorherige</a>
      {% else %}
        <span class="previous">Vorherige</span>
      {% endif %}
      - <span class="page_number ">Seite: {{ paginator.page }} von {{ paginator.total_pages }}</span> -
      {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Nächste</a>
      {% else %}
        <span class="next ">Nächste</span>
      {% endif %}
    </div>
  </div>

  <div class="col-md-4">
    <h1>Termine</h1>
    <ul>
    {% for item in site.data.calendar.items %}
      <li>
          {{ item.start.dateTime | date: '%d.%m.%Y - %H:%M' }}<br>
          <small>{{ item.summary }}</small>
      </li>
    {% endfor %}
    </ul>
    
    {% include open-and-infos.html %}
    
  </div>
</div>
